<% content_for :title do %>
  Raaaaaaaaaaaaaaaab 
<% end %>

<% content_for :description do %>
  My personal website 8) 
<% end %>

<h3>Home</h3>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p> I was born on <%= @owner.birthdate %>.</p>
<p> Only <%= @owner.countdown %> days until my birthday!</p>


