<% content_for :title do %>
  Periodic Table of Elements 
<% end %>

<% content_for :description do %>
  Check out elements and their properties
<% end %>

<h3> The Periodic Table of Elements </h3>



